---
import TimelineEntry from './TimelineEntry.astro';
import { experience } from '../../data/experience';
---

<div class="timeline">
  {experience.map((entry, i) => (
    <TimelineEntry entry={entry} isLast={i === experience.length - 1} />
  ))}
</div>
