---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" class={className}>
  <slot />
  <Icon name="mdi:open-in-new" size={12} style="display:inline;vertical-align:middle;margin-left:0.25em;" />
</a>
